<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>TeamX Group</span>
  </mat-toolbar-row>
</mat-toolbar>


<mat-tab-group>
  <mat-tab label="Liste des Users">
      <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">_id</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Address</th>
          </tr>
          </thead>
          <tbody>
              <tr>
                <td>230945</td>
                <td>Alexandre</td>
                <td>Ndene</td>
                <td>Fadia Guentaba</td>
              </tr>
            </tbody>
      </table>

   
  </mat-tab>
  <mat-tab label="Liste des Products">
      <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">_id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Image</th>
          </tr>
          </thead>
          <tbody>
              <tr>
                <td>2309455</td>
                <td>Burger</td>
                <td>1200</td>
                <td>30</td>
                <td>Image</td>
              </tr>
          </tbody>
      </table>

     
  </mat-tab>
</mat-tab-group>